body{
    margin: 0;
    padding:0;
    background-color: #bddbe0;
}
main{
    display: flex;
    flex-direction: row;
}
.cover {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5vw;
    color:#707070;
    opacity: 100%;
    flex:1 0 auto;
}
.return{
    display: flex;
    opacity: 65%;
    transition: all 0.8s;
    color:#707070;
    font-size: 2vw;
    position: absolute;
    top: 0;
    left: 25px;
}
.return:hover{
    opacity: 100%;
    transition: all 0.8s;
}