<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Roskilde Day Care/Admin</title>
    <link href="../static/CSS/rooms.css" th:href="@{/CSS/rooms.css}" rel="stylesheet">
</head>
<body>
<main>
    <div class="cover">
        <a href="/pupils"><h1>PUPILS</h1></a>
    </div>
    <div class="cover">
        <a href="/teacherList"><h1>TEACHERS</h1></a>
    </div>
    <div class="cover">
        <a href="/schedule"><h1>SCHEDULE</h1></a>
    </div>
    <div class="cover">
        <a href="/wait"><h1>WAITING LIST</h1></a>
    </div>
    <div>
        <a href="/logout"><h2 class ="logout">LOG OUT</h2></a>
    </div>
    <div>
        <a href="/index"><h2 class ="return">RETURN</h2></a>
    </div>
</main>

</body>
</html>