<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Roskilde Day Care/Teacher</title>
    <link href="../static/CSS/rooms.css" th:href="@{/CSS/rooms.css}" rel="stylesheet">
</head>
<body>
<main>
    <div class="cover">
    <a href="/ocean"><h1>OCEAN</h1></a>
</div>
<div class="cover">
        <a href="/coral"><h1>CORAL</h1></a>
</div>
    <div class="cover">
        <a href="/waves"><h1>WAVES</h1></a>
</div>
    <div class="cover">
        <a href="/beach"><h1>BEACH</h1></a>
    </div>
    <div>
        <a href="/logout"><h2 class ="logout">LOG OUT</h2></a>
    </div>
    <div>
        <a href="/index"><h2 class ="return">RETURN</h2></a>
    </div>
</main>

</body>
</html>