<!DOCTYPE html>
<html lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<head>
    <meta charset="UTF-8">
    <title class="table">Teacher</title>
    <link href="../static/CSS/tables.css" th:href="@{/CSS/tables.css}" rel="stylesheet"/>
</head>
<body class="mt32">
<div class="container">
    <h2 class="title">TEACHER</h2>
    <input type="search" placeholder="Search..." class="form-control search-input" data-table="customers-list"/>


    <table class="table table-striped mt32 customers-list">
        <tr>
            <th>RID</th>
            <th>TID</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>telephone</th>
            <th>email</th>
        </tr>
        <tr th:each="teacher : ${tableteacher}">
            <td th:text="${teacher.RID}"></td>
            <td th:text="${teacher.TID}"></td>
            <td th:text="${teacher.first_name}"></td>
            <td th:text="${teacher.last_name}"></td>
            <td th:text="${teacher.telephone}"></td>
            <td th:text="${teacher.email}"></td>

            <td><a th:href="@{'/viewTeacher/'+${teacher.TID}}"></a></td>

        </tr>
    </table>
</div>

<script type="text/javascript">
    (function(document) {
        'use strict';

        var TableFilter = (function(myArray) {
            var search_input;

            function _onInputSearch(e) {
                search_input = e.target;
                var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                myArray.forEach.call(tables, function(table) {
                    myArray.forEach.call(table.tBodies, function(tbody) {
                        myArray.forEach.call(tbody.rows, function(row) {
                            var text_content = row.textContent.toLowerCase();
                            var search_val = search_input.value.toLowerCase();
                            row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                        });
                    });
                });
            }

            return {
                init: function() {
                    var inputs = document.getElementsByClassName('search-input');
                    myArray.forEach.call(inputs, function(input) {
                        input.oninput = _onInputSearch;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                TableFilter.init();
            }
        });

    })(document);

</script>

</body>
</html>
