<!DOCTYPE html>
<html lang="en"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KID view</title>
</head>
<body>
<h1>Show me KIDS</h1>
<span th:text="${kid.KKID}"></span>
<span th:text="${kid.RID}"></span>
<span th:text="${kid.first_name}"></span>
<span th:text="${kid.last_name}"></span>
<span th:text="${kid.DOB}"></span>
<span th:text="${kid.start_date}"></span>
<span th:text="${kid.wait}"></span>

</body>
</html>