<!DOCTYPE html>
<html lang="en"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TEACHER view</title>
</head>
<body>
<h1>Show me Teachers</h1>
<span th:text="${teacher.RID}"></span>
<span th:text="${teacher.TID}"></span>
<span th:text="${teacher.first_name}"></span>
<span th:text="${teacher.last_name}"></span>
<span th:text="${teacher.telephone}"></span>
<span th:text="${teacher.email}"></span>

</body>
</html>