<!DOCTYPE html>
<html lang="en"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TEACHER view</title>
</head>
<body>
<h1>Show me Teachers</h1>
<span th:text="${work_schedule.RID}"></span>
<span th:text="${work_schedule.TID}"></span>
<span th:text="${work_schedule.WSID}"></span>
<span th:text="${work_schedule.monday}"></span>
<span th:text="${work_schedule.tuesday}"></span>
<span th:text="${work_schedule.wednesday}"></span>
<span th:text="${work_schedule.thursday}"></span>
<span th:text="${work_schedule.friday}"></span>


</body>
</html>